<div class="card mt-4">
    <div class="card-header">
        文章归档
    </div>
    <ul class="list-group list-group-flush">
        {% for date in date_list %}
            <li class="list-group-item">
                <a href="{% url 'article:archive' date.year date.month %}">
                    {{ date.year }} 年 {{ date.month }} 月{{ data }}
                </a></li>
        {% empty %}
            <li class="list-group-item">
                暂无归档！
            </li>
        {% endfor %}
    </ul>
</div>
