{% extends "base.html" %}
{% load staticfiles %}
{% block title %} 用户信息 {% endblock title %}

{% block content %}
{#<div class="container">#}
{#    <div class="row">#}
{#        <div class="col-12">#}
{#            <br>#}
{#            <div class="col-md-4">用户名: {{ user.username }}</div>#}
{#            <br>#}
{#            {% if profile.img %}#}
{#                <div class="col-md-4">头像：</div>#}
{#                <img src="{{ profile.img.url }}" style="max-width: 20%; border-radius: 50%;" class="col-md-4">#}
{#            {% else %}#}
{#                <h5 class="col-md-4">暂无头像</h5>#}
{#            {% endif %}#}
{#            <br>#}
{#            <br>#}
{#            <form method="post" action="" enctype="multipart/form-data">#}
{#                {% csrf_token %}#}
{#                {% if request.user.username == user.username %}#}
{#                <div class="form-group col-md-4">#}
{#                    <label for="img">修改头像：</label>#}
{#                    <input type="file" class="form-control-file" name="img" id="img">#}
{#                </div>#}
{#                {% endif %}#}
{##}
{#                {% if request.user.username == user.username %}#}
{#                <div class="form-group col-md-4">#}
{#                    <label for="phone">联系方式：</label>#}
{#                    <input type="text" class="form-control" id="phone" name="phone" value="{{ profile.phone }}">#}
{#                </div>#}
{#                {% else %}#}
{#                    <div class="form-group col-md-6">#}
{#                        <label for="phone">联系方式：</label>#}
{#                        <div style="background-color: white ">{{ profile.phone }}</div>#}
{#                    </div>#}
{#                {% endif %}#}
{##}
{#                {% if request.user.username == user.username %}#}
{#                <div class="form-group col-md-6">#}
{#                    <label for="describe">个人简介：</label>#}
{#                    <textarea type="text" class="form-control" id="describe" name="describe" rows="5">{{ profile.describe }}</textarea>#}
{#                </div>#}
{#                {% else %}#}
{#                    <div class="form-group col-md-6">#}
{#                    <label for="describe">个人简介：</label><hr>#}
{#                    <div>{{ profile.describe }}</div>#}
{#                </div>#}
{#                {% endif %}#}
{##}
{#                {% if request.user.username == user.username %}#}
{#                <button type="submit" class="btn btn-primary ">确认修改</button>#}
{#                {% endif %}#}
{#            </form>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-2">
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card mt-3">
                {% if profile.img %}
                <img src="{{ profile.img.url }}" style="max-width: 50%; border-radius: 50%;margin: 20px auto 20px;" class="card-img-top">
                {% else %}
                <img src="{% static 'img/noimg.jpg' %}" style="max-width: 50%; border-radius: 50%;margin: 20px auto 20px;" class="card-img-top">
                {% endif %}

                <div class="card-body">
                    <h3 class="card-title" style="text-align: center">{{ user.username }}</h3>
                    <p class="card-text" style="text-align: center">Welcome to my personal information page</p>
                </div>
                <ul class="list-group list-group-flush">
                    {% if request.user.username == user.username %}
                    <li class="list-group-item">
                        <label for="img">修改头像：</label>
                        <input type="file" class="form-control-file" name="img" id="img">
                    </li>
                    {% endif %}

                    <li class="list-group-item">
                        <label for="phone">联系方式：</label>
                    <input type="text" class="form-control" id="phone" name="phone" value="{{ profile.phone }}">
                    </li>

                    <li class="list-group-item">
                        <label for="describe">我的个人介绍：</label>
                        <textarea type="text" class="form-control" id="describe" name="describe" rows="5">{{ profile.describe }}</textarea>
                    </li>
                </ul>
            {% if request.user.username == user.username %}
            <div class="card-body" style="margin: 0 auto">
                <button type="submit" class="btn btn-primary" >保存</button>
            </div>
            {% endif %}
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock content %}