<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if user.is_authenticated %}
                <div>
                    <form action="{% url 'comment:post_comment' article.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="body">
                                <strong>
                                    我也要发言：
                                </strong>
                            </label>
                        <div>
            {{ comment_form.media }}
            {{ comment_form.body }}
        </div>
                        </div>
                        <!-- 提交按钮 -->
                        <button type="submit" class="btn btn-primary ">发送</button>
                    </form>
                </div>
                <br>
            {% else %}
                <br>
                <h5 class="row justify-content-center">
                    请<a href="{% url 'user:login' %}">登录</a>后评论
                </h5>
                <br>
            {% endif %}

            <!-- 显示评论 -->
            <h4>共有{{ comments.count }}条评论</h4>
            <div>
                {% for comment in comments %}
                    <hr>
                    <p><strong style="color: pink">{{ comment.user }}</strong> 于
                    <span style="color: green">{{ comment.created|date:"Y-m-d H:i:s" }}</span> 时说：
                    </p>
                    <pre style="font-family: inherit; font-size: 1em;">{{ comment.body|safe }}</pre>
                {% endfor %}
            </div>
        </div>
</body>
</html>